Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Login
requests
pandas
openpyxl
sqlalchemy
tqdm
python-dotenv
xlrd
colorama
regex
beautifulsoup4
chardet
psycopg2-binary
pytest
werkzeug
gunicorn
pypdfium2
Pillow
streamlit
playwright
